Client/Client.ServiceLayer/Connected Services/LoginReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoginService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Server.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginService_CreateUserWithPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserWithPassword" />
  </wsdl:message>
  <wsdl:message name="ILoginService_CreateUserWithPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserWithPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_ValidatePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePassword" />
  </wsdl:message>
  <wsdl:message name="ILoginService_ValidatePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_ValidateAdminLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateAdminLogin" />
  </wsdl:message>
  <wsdl:message name="ILoginService_ValidateAdminLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateAdminLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_UpdatePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassword" />
  </wsdl:message>
  <wsdl:message name="ILoginService_UpdatePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoginService">
    <wsdl:operation name="CreateUserWithPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/CreateUserWithPassword" message="tns:ILoginService_CreateUserWithPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/CreateUserWithPasswordResponse" message="tns:ILoginService_CreateUserWithPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/ValidatePassword" message="tns:ILoginService_ValidatePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/ValidatePasswordResponse" message="tns:ILoginService_ValidatePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateAdminLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/ValidateAdminLogin" message="tns:ILoginService_ValidateAdminLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/ValidateAdminLoginResponse" message="tns:ILoginService_ValidateAdminLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/UpdatePassword" message="tns:ILoginService_UpdatePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/UpdatePasswordResponse" message="tns:ILoginService_UpdatePassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoginService" type="tns:ILoginService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUserWithPassword">
      <soap:operation soapAction="http://tempuri.org/ILoginService/CreateUserWithPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePassword">
      <soap:operation soapAction="http://tempuri.org/ILoginService/ValidatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateAdminLogin">
      <soap:operation soapAction="http://tempuri.org/ILoginService/ValidateAdminLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <soap:operation soapAction="http://tempuri.org/ILoginService/UpdatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginService">
    <wsdl:port name="BasicHttpBinding_ILoginService" binding="tns:BasicHttpBinding_ILoginService">
      <soap:address location="http://localhost:8015/Design_Time_Addresses/Server.ServiceLayer/LoginService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>