Client/Client.ServiceLayer/Connected Services/UserReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Server.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserWithOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserWithOrders" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserWithOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserWithOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserWithOrdersAndOrderlines_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserWithOrdersAndOrderlines" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserWithOrdersAndOrderlines_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserWithOrdersAndOrderlinesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetCustomerByMail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByMail" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetCustomerByMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByMailResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUser" message="tns:IUserService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserResponse" message="tns:IUserService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserWithOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserWithOrders" message="tns:IUserService_GetUserWithOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserWithOrdersResponse" message="tns:IUserService_GetUserWithOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserWithOrdersAndOrderlines">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserWithOrdersAndOrderlines" message="tns:IUserService_GetUserWithOrdersAndOrderlines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserWithOrdersAndOrderlinesResponse" message="tns:IUserService_GetUserWithOrdersAndOrderlines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetCustomerByMail" message="tns:IUserService_GetCustomerByMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetCustomerByMailResponse" message="tns:IUserService_GetCustomerByMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateCustomer" message="tns:IUserService_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateCustomerResponse" message="tns:IUserService_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteUser" message="tns:IUserService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteUserResponse" message="tns:IUserService_DeleteUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserWithOrders">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserWithOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserWithOrdersAndOrderlines">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserWithOrdersAndOrderlines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByMail">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetCustomerByMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:8014/Design_Time_Addresses/Server.ServiceLayer/UserService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>